.Chat-Parent {
  display: grid;
  grid-template-columns: 28% auto;
  gap: 1rem;
  align-items: center;
}

.Left-side-chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  box-shadow: var(--cardShadow);
  border-radius: 1rem;
  padding: 0.5rem;
  min-height: 80vh;
  overflow-y: scroll;
}

.Left-side-chat::-webkit-scrollbar {
  display: none !important; 
} 
.chatMembers-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.Right-side-chat {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.singleChatUser {
  border-radius: 0.8rem;
  padding: 14px;
  position: relative;
  gap: 0.1rem;
}
.singleChatUser:hover {
  background: #80808038;
  cursor: pointer;
}
.online-Indicator {
  position: absolute;
  left: 3.3rem;
  top: 2rem;
  z-index: 4;
}

@media screen and (max-width: 1024px) {
  .Chat-Parent {
    grid-template-columns: 16% auto;
  }
  .ChatUserNameBox {
    display: none;
  }
}

@media screen and (max-width: 610px) {
  .Chat-Parent {
    grid-template-columns: auto;
  }
  .ChatUserNameBox {
    display: block;
  }
  .Left-side-chat {
    min-height: auto;
    max-height: 30vh;
  }
}
