.Chat {
  position: relative;
  display: grid;
  grid-template-columns: 22% auto;
  gap: 1rem;
  align-items: center;
}

.Left-side-chat {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

.Chat-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: var(--cardShadow);
  border-radius: 1rem;
  padding: 1rem;
  height: auto;
  min-height: 80vh;
  overflow: hidden;
}

.chatMembers-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Right-side-chat {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}
.conversation:hover {
  background: #80808038;
  cursor: pointer;
}

.conversation {
  border-radius: 0.5rem;
  padding: 10px;
}

.conversation > div {
  position: relative;
}

.online-Indicator {
  position: absolute;
  left: 2.4rem;
  top:-1.2rem
}

@media screen and (max-width: 768px) {
  .Chat {
     grid-template-columns: 16% auto;
   }
   .ChatUserNameBox{
     display: none;
    }
 }

 @media screen and (max-width: 610px) {
  .Chat {
     grid-template-columns:auto;
   }
   .ChatUserNameBox{
     display: block;
    }
 }