.SinglePost {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: var(--cardShadow);
  border-radius: 1rem;
  gap: 1rem;
}

.SinglePost > img {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.postReactMain {
  display: flex;
  justify-content: space-between;
}

.postReact {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}
