.Search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--inputColor);
  padding: 5px 10px;
  border-radius: 50px;
  height: 40px;
}
.Search > input {
  background-color: transparent;
  border-radius: 50px;
  padding: 10px;
  font-size: 17px;
  padding: 5px 18px;
  border: none;
  outline: none;
}
.s-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(106.23deg, #f99827 0%, #f95f35 100%);
  cursor: pointer;
  padding: 7px 10px;
  color: white;
  border-radius: 50px;
}
