.userPage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  min-width: 60vw;
  min-height: 8rem;
  margin: auto;
  box-shadow: var(--cardShadow);
}
.userPage > div {
  display: flex;
}
.alreadyfollowing {
  background: transparent !important;
  color: orangered !important;
  border: 1px solid orangered;
  transition: all 0.5s linear !important;
}
.alreadyfollowing:hover {
  background: black !important;
}
@media only screen and (max-width: 500px) {
  .userPage {
    flex-direction: column;
    justify-content: center;
  }
}
