.userPage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  min-width: 60vw;
  min-height: 8rem;
padding: 5px 10px;
  margin: auto;
  box-shadow: var(--cardShadow);
}
.userPage > div {
  display: flex;
}
.alreadyfollowing {
  background: transparent !important;
  color: orangered !important;
  border: 1px solid orangered;
  transition: all 0.5s linear !important;
}
.alreadyfollowing:hover {
  background: black !important;
}
@media only screen and (max-width: 900px) {
  .userPage {
    min-width: 90vw;
  }
}
@media only screen and (max-width: 500px) {
  .userPage {
    gap: .1rem;
  }
  .userPage button{
    width: 70px;
    font-size: 10px;
    padding: 1px 2px !important;;
  }
}
