.FollowersCard {
  width: 100%;
  border-radius: 0.7rem;
  gap: 1rem;
  display: grid;
  font-size: 13px;
  max-height: auto;
  justify-content: center;
}
.follower {
  display: flex;
  gap: 40px;
  align-items: center;
}

.follower > div {
  display: flex;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 8rem;
  margin-left: 10px;
}

.name > span:nth-of-type(1) {
  font-weight: bold;
}
