.InfoCard {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  box-shadow: var(--cardShadow);
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  width: 90%;
}

.infoHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoHead > div:hover {
  cursor: pointer;
}
