.PostShare {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  box-shadow: var(--cardShadow);
  padding: 1rem;
  border-radius: 1rem;
}

.PostShare > img {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.PostShare > div {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
}

.PostShare > div > textarea {
  background-color: var(--inputColor);
  border-radius: 50px;
  height: 30px;
  font-size: 17px;
  padding: 5px 18px;
  width: 90%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  resize: none;
  border: none;
  outline: none;
}


.postOptions {
  display: flex;
  justify-content: space-around;
}

.option {
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.option:hover {
  cursor: pointer;
}
.ps-button {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
}

.previewImage {
  position: relative;
}

.previewImage > svg {
  position: absolute;
  right: 2.2rem;
  top: 1rem;
  cursor: pointer;
  z-index: 5;
}

.previewImage > img {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-left: -2rem;
  margin-top: 20px;
}
