.birdLogo img {

  width: 4rem;
  height: 3rem;

}

.signupdiv {
  width: 40%;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 30px;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 40px;
}

.heading {
  font-size: 37px;
  font-weight: 700;
  padding-top: 40px;
}

.subheading {
  font-size: 25px;
  width: 70%;
  color: #8f7e77;
  font-weight: 700;
  margin: auto;
  margin-top: 12px;
}

.note {
  color: gray;
  font-size: 14px;
  width: 65%;
  text-align: left;
  margin: auto;
  margin-top: 20px;
}

@media (min-width: 414px) and (max-width: 896px) {
  .signupdiv {
    width: 80%;
    margin: auto;
    margin-top: 40px;
  }

  .note {
    color: gray;
    font-size: 14px;
    width: 75%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
  }

  .subheading {
    font-size: 16px;
    width: 90%;
    color: #8f7e77;
    font-weight: 700;
    margin: auto;
    margin-top: 10px;
  }
}

@media (min-width: 412px) and (max-width: 915px) {
  .signupdiv {
    width: 90%;
  }

  .subheading {
    font-size: 16px;
    width: 85%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .signupdiv {
    width: 65%;
  }

  .heading {
    font-size: 37px;
    font-weight: 700;
    padding-top: 30px;
  }

  .subheading {
    font-size: 25px;
    width: 80%;
  }

  .note {
    color: gray;
    font-size: 14px;
    width: 70%;
  }
}

@media (min-width: 280px) and (max-width: 653px) {
  .signupdiv {
    width: 90%;
  }

  .heading {
    font-size: 28px;
    font-weight: 700;
    padding-top: 40px;
    width: 80%;
    margin: auto;
    line-height: 30px;
  }

  .subheading {
    font-size: 16px;
    width: 70%;
  }

  .note {
    font-size: 14px;
    width: 65%;
  }
}
