.TrendCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: var(--cardShadow);
  padding: 1rem;
  border-radius: 1rem;
  padding-left: 2rem;
}

.trend {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


